.container{
	
	padding: 6px;

}

.logo{
	float: left;
	padding-left: 30px

}

.icon{
    float: right;
    padding: 15px;
    font-size: 30px;
    color: #fff;
    background: #ff7300;
    padding-right: 102px;
}
.menu{
    text-align: center;
    background: #fb7400;
    padding: 5px;

}
.list{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding-right: 25px;
    padding: 2px;
    width: 5%;
    background: rebeccapurple;
    color: #fff;
    font-size: 16px;
    width: 5%;
}
.gaf{
	padding: 15px;
	border: 2px solid red;
}

